@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@font-face {
font-family: 'Erode';
  src: url('./Fonts/Erode_Complete/Fonts/Variable/Erode-Variable.ttf') format('truetype'), 
  
}
html{
  background-color: #EFECE2;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.App {
  text-align: left;
}




