@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@font-face {
font-family: 'Erode';
  src: url('./Fonts/Erode_Complete/Fonts/Variable/Erode-Variable.ttf') format('truetype'), 
  
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease forwards;
}


.animate-fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

html{
  background-color: #ffffff;
  font:"Satoshi";
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.App {
  text-align: left;
}




