@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#Cursor{
  cursor: none;
  opacity: 0.5;
  width:  30px;
  height: 30px;
  transition-property: width,height,opacity,background-color,border-color;
}
.textC{

}
.faq-h3 {
  @apply textC transition duration-200 sm:hover:text-LunarTwilight text-NightFall text-left font-Satoshi opacity-90 sm:text-4xl text-3xl font-bold
}
.faq-P{
  @apply textC transition duration-200 sm:mt-3 mt-2 sm:hover:text-LunarTwilight text-NightFall opacity-[85%] text-xl sm:text-2xl font-Lora font-normal
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.fade-in {
  animation: fadeIn 1s ease forwards;
}

