@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
#Cursor{
  cursor: none;
  opacity: 0.5;
  width:  30px;
  height: 30px;
  transition-property: width,height,opacity;
}